.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* CSS: Set a different image for dark mode */
#psna-logo {
  content: url("https://www.psnacet.edu.in/img-1/logo-clr.png"); /* Default for light mode */
}

[data-bs-theme="dark"] #psna-logo {
  content: url("https://www.psnacet.edu.in/images/logo-white.png"); /* Image for dark mode */
}